/*Variables*/
:root {
    font-size: 16px; /* can be modified to change all em values*/
    --head: white;
    --text: #000000;
    --title:#00fce7;
    --mainBackground: #0f0d0d;
  }

/* Global Reset */
* { margin:0; padding:0; box-sizing:border-box; }

nav {
    float: right;
}
nav img{
    max-height: 50px;
    margin: 15px 20px;
    background-color: none;
    transition: max-height 0.3s, margin 0.3s;
}
nav img:hover{
    max-height: 54px;
    margin: 12px 18px;
    cursor: pointer;
}
header h1,
h2,
h3 {
    line-height: 1.5;
    letter-spacing: 1.5px;
    color: var(--head);
    font-family: 'Josefin Sans', sans-serif;
}

body {
    color: var(--text);
    font-family: 'Open Sans', sans-serif;
}

.splash__icon {
    filter: invert(1);
    height: 75px;
}
#splash__image {
    width: 100%;
    max-height: 100vh;
    min-height: 100vh;
    filter: brightness(45%);
    z-index: -1;
    position: absolute;
}

.splash__intro {
    position: relative;
    left: 15vw;
    max-width: 800px;
    top: 30vh;
}
.centered {
    margin: 0 auto;
    max-width: 1600px;
    text-align: center;
}

header h1 {
    font-size: 4em;
    position: relative;
}

header h2 {
    font-size: 2em;
    position: relative;
}

header h3 {
    font-size: 1.5em;
}

header h4 {
    margin-top: 20px;
    font-size: 1.8em;
    transition: transform .3s;
    max-width: max-content;
    color: #00fce7;

}
header h4:hover {
    transform: scaleY(1.1);
    cursor: pointer;
}

#scroll__arrow {
    top: 90vh;
    left: 48.5vw;
    position: absolute;
    display: block;
    width: 3vw;
    height: 3vw;
    transition: transform .5s;
}

#scroll__arrow:hover {
    cursor: pointer;
    transform: scaleY(1.1);
}

span { 
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 
  
@keyframes fadeInAnimation { 
    0% { 
        opacity: .1; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

#main {
    position: absolute;
    top: 100vh;
    color: var(--text);
    background-color: var(--mainBackground);
    height: 100vh;
    width: 100%;
}

.main__heading {
    color: var(--head);
    text-decoration: underline;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 0 0 5px var(--title);
    font-size: 3.5em;
    margin: 5vh auto;
    width: 100%;
}

.project-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.project-box {
    width: 25vw;
    height: 25vh;
    margin: 5vh auto 5vw;
}

.project-img {
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 5px var(--head);

}

#footer {
    width: 100%;
    top: 200vh;
    position: absolute;
    height: 50vh;
    background-color:var(--mainBackground);
}

#skills {
    box-sizing: content-box;
    width: 80%;
    height: 100px;
    position: relative;
    display: flex;
    margin: auto;
}

#skills img {
    box-sizing: content-box;
    padding: 45px;
    margin: auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#footnote {
    height: 33vh;
    width: 100%;
    background-color: rgb(87, 87, 87);
}